{% extends 'main.html' %}
{% load static %}

{% block content %}
<!--  Row 1 -->
        <div class="row">
          <!-- Highlights Section -->
          <div class="col-lg-12">
               {{ highlight_plot | safe }}
          </div>
        </div>

        <div class="row">

          <!-- Graphs Section -->
          <div class="col-lg-6 mb-3">
            <div class="card p-3">
              {{ fig_fico | safe }}
            </div>
          </div>

          <div class="col-lg-6 mb-3">
            <div class="card p-3">
               {{ fig_linea | safe }}
            </div>
          </div>

          <div class="col-lg-4 mb-3">
            <div class="card p-3 h-100">
              {{ fig_prestXgrado | safe }}
            </div>
          </div>

          <div class="col-lg-4 mb-3">
            <div class="card p-3">
              {{ fig_ingXgrado | safe }}
            </div>
          </div>

          <div class="col-lg-4 mb-3">
            <div class="card p-3">
              {{ fig_morosos | safe }}
            </div>
          </div>

        </div>

        <div class="row">
          <!-- Summary Table Section -->
          <div class="col-12">
            <div class="card p-4 mt-4">
              <div style="height:300px; border: 2px #ced4da;">
                {{ fig_tabla | safe }}
              </div>
            </div>
          </div>
        </div>

{% endblock content %}